--
-- PostgreSQL database dump
--

\restrict ZcwWmvvtQ5557O8DlDT3tbXqVfacgGodpJVqQeNksH4r6xB1gW1WHrHPyVEzTUE

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: albadil_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO albadil_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO albadil_user;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "userId" text,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text,
    "oldValues" text,
    "newValues" text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO albadil_user;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO albadil_user;

--
-- Name: Document; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Document" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "fileName" text NOT NULL,
    "filePath" text NOT NULL,
    "fileType" text NOT NULL,
    "fileSize" integer NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Document" OWNER TO albadil_user;

--
-- Name: FAQ; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."FAQ" (
    id text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FAQ" OWNER TO albadil_user;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "serviceId" text NOT NULL,
    "variantId" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "totalPrice" integer NOT NULL,
    "totalCents" integer NOT NULL,
    "customerName" text NOT NULL,
    "customerPhone" text NOT NULL,
    "customerEmail" text NOT NULL,
    address text,
    notes text,
    "adminNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "deliveryFee" integer DEFAULT 0 NOT NULL,
    "deliveryType" text DEFAULT 'OFFICE'::text NOT NULL
);


ALTER TABLE public."Order" OWNER TO albadil_user;

--
-- Name: OrderDocument; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."OrderDocument" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "fileName" text NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" integer NOT NULL,
    "fileType" text NOT NULL,
    "documentType" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OrderDocument" OWNER TO albadil_user;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    amount integer NOT NULL,
    currency text DEFAULT 'EGP'::text NOT NULL,
    method text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paymentScreenshot" text,
    "senderPhone" text,
    notes text
);


ALTER TABLE public."Payment" OWNER TO albadil_user;

--
-- Name: Service; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Service" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    icon text,
    active boolean DEFAULT true NOT NULL,
    "categoryId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Service" OWNER TO albadil_user;

--
-- Name: ServiceDocument; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."ServiceDocument" (
    id text NOT NULL,
    "serviceId" text NOT NULL,
    title text NOT NULL,
    description text,
    required boolean DEFAULT true NOT NULL,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ServiceDocument" OWNER TO albadil_user;

--
-- Name: ServiceVariant; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."ServiceVariant" (
    id text NOT NULL,
    name text NOT NULL,
    "priceCents" integer NOT NULL,
    "etaDays" integer NOT NULL,
    "serviceId" text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ServiceVariant" OWNER TO albadil_user;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO albadil_user;

--
-- Name: SystemSettings; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."SystemSettings" (
    id text DEFAULT 'main'::text NOT NULL,
    "siteName" text DEFAULT '╪º┘ä╪¿╪º╪»┘è┘ä'::text NOT NULL,
    "siteDescription" text,
    "contactEmail" text,
    "contactPhone" text,
    address text,
    "workingHours" text,
    "socialLinks" text,
    "seoSettings" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemSettings" OWNER TO albadil_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text,
    "emailVerified" timestamp(3) without time zone,
    image text,
    "passwordHash" text,
    phone text,
    role text DEFAULT 'USER'::text NOT NULL,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    "verificationToken" text,
    "verificationTokenExpiry" timestamp(3) without time zone,
    "verificationCode" text,
    "verificationCodeExpiry" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO albadil_user;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: albadil_user
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO albadil_user;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."AuditLog" (id, "userId", action, "entityType", "entityId", "oldValues", "newValues", "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."Category" (id, name, slug, "orderIndex", active, "createdAt", "updatedAt") FROM stdin;
cat_002	╪▒╪«╪╡	licenses	2	t	2025-08-31 22:14:51.796	2025-08-31 22:14:51.796
cat_003	┘à╪│╪¬┘å╪»╪º╪¬ ╪¡┘â┘ê┘à┘è╪⌐	government-documents	3	t	2025-08-31 22:14:51.796	2025-08-31 22:14:51.796
cat_004	╪ú┘ê╪▒╪º┘é ╪▒╪│┘à┘è╪⌐	official-papers	4	t	2025-08-31 22:14:51.796	2025-08-31 22:14:51.796
cat_001	╪┤┘ç╪º╪»╪º╪¬	certificates	1	t	2025-08-31 22:14:51.796	2025-08-31 22:14:51.796
\.


--
-- Data for Name: Document; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."Document" (id, "orderId", "fileName", "filePath", "fileType", "fileSize", "uploadedAt") FROM stdin;
\.


--
-- Data for Name: FAQ; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."FAQ" (id, question, answer, "orderIndex", active, "createdAt", "updatedAt") FROM stdin;
cmf090nam0001o3z2o5ytg1pm	┘â┘à ┘è╪│╪¬╪║╪▒┘é ┘ê┘é╪¬ ╪¬┘å┘ü┘è╪░ ╪º┘ä╪«╪»┘à╪⌐╪ƒ	┘è╪╣╪¬┘à╪» ╪╣┘ä┘ë ┘å┘ê╪╣ ╪º┘ä╪«╪»┘à╪⌐ (╪╣╪º╪»┘è/╪│╪▒┘è╪╣/╪╣╪º╪¼┘ä).	2	t	2025-08-31 22:14:51.886	2025-08-31 22:14:51.886
cmf090nam0000o3z2ld8wxuag	┘à╪º ┘ç┘è ╪º┘ä┘à╪│╪¬┘å╪»╪º╪¬ ╪º┘ä┘à╪╖┘ä┘ê╪¿╪⌐╪ƒ	╪¬╪«╪¬┘ä┘ü ╪¡╪│╪¿ ╪º┘ä╪«╪»┘à╪⌐╪î ┘ê╪│╪¬╪╕┘ç╪▒ ┘ü┘è ╪╡┘ü╪¡╪⌐ ╪º┘ä╪«╪»┘à╪⌐.	1	t	2025-08-31 22:14:51.886	2025-08-31 22:14:51.886
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: OrderDocument; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: ServiceDocument; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."ServiceDocument" (id, "serviceId", title, description, required, "orderIndex", active, "createdAt", "updatedAt") FROM stdin;
sdoc_001	svc_001	╪╡┘ê╪▒╪⌐ ╪¿╪╖╪º┘é╪⌐ ┘ê┘ä┘è ╪º┘ä╪ú┘à╪▒	╪╡┘ê╪▒╪⌐ ┘ê╪º╪╢╪¡╪⌐ ┘ä╪¿╪╖╪º┘é╪⌐ ╪º┘ä┘ç┘ê┘è╪⌐ ╪º┘ä┘ê╪╖┘å┘è╪⌐ ┘ä┘ê┘ä┘è ╪º┘ä╪ú┘à╪▒	t	1	t	2025-08-31 22:14:51.846	2025-08-31 22:14:51.846
sdoc_002	svc_001	╪┤┘ç╪º╪»╪⌐ ╪¬╪¿┘ä┘è╪║	╪┤┘ç╪º╪»╪⌐ ╪¬╪¿┘ä┘è╪║ ╪º┘ä┘à┘ê┘ä┘ê╪» ┘à┘å ╪º┘ä┘à╪│╪¬╪┤┘ü┘ë ╪ú┘ê ╪º┘ä┘é╪º╪¿┘ä╪⌐	t	2	t	2025-08-31 22:14:51.846	2025-08-31 22:14:51.846
\.


--
-- Data for Name: ServiceVariant; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: SystemSettings; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: albadil_user
--



--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: albadil_user
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Document Document_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_pkey" PRIMARY KEY (id);


--
-- Name: FAQ FAQ_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."FAQ"
    ADD CONSTRAINT "FAQ_pkey" PRIMARY KEY (id);


--
-- Name: OrderDocument OrderDocument_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."OrderDocument"
    ADD CONSTRAINT "OrderDocument_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: ServiceDocument ServiceDocument_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."ServiceDocument"
    ADD CONSTRAINT "ServiceDocument_pkey" PRIMARY KEY (id);


--
-- Name: ServiceVariant ServiceVariant_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."ServiceVariant"
    ADD CONSTRAINT "ServiceVariant_pkey" PRIMARY KEY (id);


--
-- Name: Service Service_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: SystemSettings SystemSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."SystemSettings"
    ADD CONSTRAINT "SystemSettings_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Account_userId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Account_userId_idx" ON public."Account" USING btree ("userId");


--
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_entityType_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "AuditLog_entityType_idx" ON public."AuditLog" USING btree ("entityType");


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Category_active_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Category_active_idx" ON public."Category" USING btree (active);


--
-- Name: Category_orderIndex_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Category_orderIndex_idx" ON public."Category" USING btree ("orderIndex");


--
-- Name: Category_slug_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Category_slug_idx" ON public."Category" USING btree (slug);


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: Document_orderId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Document_orderId_idx" ON public."Document" USING btree ("orderId");


--
-- Name: Document_uploadedAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Document_uploadedAt_idx" ON public."Document" USING btree ("uploadedAt");


--
-- Name: FAQ_active_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "FAQ_active_idx" ON public."FAQ" USING btree (active);


--
-- Name: FAQ_orderIndex_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "FAQ_orderIndex_idx" ON public."FAQ" USING btree ("orderIndex");


--
-- Name: FAQ_question_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "FAQ_question_key" ON public."FAQ" USING btree (question);


--
-- Name: OrderDocument_documentType_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "OrderDocument_documentType_idx" ON public."OrderDocument" USING btree ("documentType");


--
-- Name: OrderDocument_orderId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "OrderDocument_orderId_idx" ON public."OrderDocument" USING btree ("orderId");


--
-- Name: OrderDocument_uploadedAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "OrderDocument_uploadedAt_idx" ON public."OrderDocument" USING btree ("uploadedAt");


--
-- Name: Order_completedAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Order_completedAt_idx" ON public."Order" USING btree ("completedAt");


--
-- Name: Order_createdAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Order_createdAt_idx" ON public."Order" USING btree ("createdAt");


--
-- Name: Order_deliveryType_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Order_deliveryType_idx" ON public."Order" USING btree ("deliveryType");


--
-- Name: Order_serviceId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Order_serviceId_idx" ON public."Order" USING btree ("serviceId");


--
-- Name: Order_status_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Order_status_idx" ON public."Order" USING btree (status);


--
-- Name: Order_userId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Order_userId_idx" ON public."Order" USING btree ("userId");


--
-- Name: Payment_orderId_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "Payment_orderId_key" ON public."Payment" USING btree ("orderId");


--
-- Name: Payment_senderPhone_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Payment_senderPhone_idx" ON public."Payment" USING btree ("senderPhone");


--
-- Name: ServiceDocument_active_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "ServiceDocument_active_idx" ON public."ServiceDocument" USING btree (active);


--
-- Name: ServiceDocument_orderIndex_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "ServiceDocument_orderIndex_idx" ON public."ServiceDocument" USING btree ("orderIndex");


--
-- Name: ServiceDocument_serviceId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "ServiceDocument_serviceId_idx" ON public."ServiceDocument" USING btree ("serviceId");


--
-- Name: ServiceVariant_active_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "ServiceVariant_active_idx" ON public."ServiceVariant" USING btree (active);


--
-- Name: ServiceVariant_priceCents_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "ServiceVariant_priceCents_idx" ON public."ServiceVariant" USING btree ("priceCents");


--
-- Name: ServiceVariant_serviceId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "ServiceVariant_serviceId_idx" ON public."ServiceVariant" USING btree ("serviceId");


--
-- Name: Service_active_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Service_active_idx" ON public."Service" USING btree (active);


--
-- Name: Service_categoryId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Service_categoryId_idx" ON public."Service" USING btree ("categoryId");


--
-- Name: Service_createdAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Service_createdAt_idx" ON public."Service" USING btree ("createdAt");


--
-- Name: Service_slug_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Service_slug_idx" ON public."Service" USING btree (slug);


--
-- Name: Service_slug_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "Service_slug_key" ON public."Service" USING btree (slug);


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: Session_userId_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "Session_userId_idx" ON public."Session" USING btree ("userId");


--
-- Name: User_createdAt_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "User_createdAt_idx" ON public."User" USING btree ("createdAt");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_resetToken_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "User_resetToken_idx" ON public."User" USING btree ("resetToken");


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: User_verificationCode_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "User_verificationCode_idx" ON public."User" USING btree ("verificationCode");


--
-- Name: User_verificationToken_idx; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE INDEX "User_verificationToken_idx" ON public."User" USING btree ("verificationToken");


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: albadil_user
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Document Document_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderDocument OrderDocument_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."OrderDocument"
    ADD CONSTRAINT "OrderDocument_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_variantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES public."ServiceVariant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ServiceDocument ServiceDocument_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."ServiceDocument"
    ADD CONSTRAINT "ServiceDocument_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ServiceVariant ServiceVariant_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."ServiceVariant"
    ADD CONSTRAINT "ServiceVariant_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Service Service_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: albadil_user
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO albadil_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: albadil_user
--

ALTER DEFAULT PRIVILEGES FOR ROLE albadil_user IN SCHEMA public GRANT ALL ON SEQUENCES  TO albadil_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: albadil_user
--

ALTER DEFAULT PRIVILEGES FOR ROLE albadil_user IN SCHEMA public GRANT ALL ON TABLES  TO albadil_user;


--
-- PostgreSQL database dump complete
--

\unrestrict ZcwWmvvtQ5557O8DlDT3tbXqVfacgGodpJVqQeNksH4r6xB1gW1WHrHPyVEzTUE

